body {
    background-color: black;
}
.photo img {
    width: 300px;

}

header {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 25px;
}

.center {
    position: absolute;
    left: 40%;
    color: white;
}

.photo-button {
    display: flex;
    justify-content:space-around;
}


.introduction {
    color: white;
}