@charset "UTF-8";

.menu{
    display: block;
    margin:auto;
    text-align: center;
}
h1{
    text-align: center;
    margin: auto;
    background: #00eaff;
}
.syokai{
    text-align: center;
    line-height: 15px;
}

ul{
    display: flex;
    margin-left: 350px;
}


.syokai{
    font-size: 130%;
    margin-top: 10px;
}
h2{
    text-align: center;
    margin: auto;
}
h3{
    text-align: center;
    margin: auto;
}

#button{
    height: 30px;
    background-color: white;
    border:1px solid black;
    padding: 10px 40px;
    margin: 10px auto;
    transition: all 0.3s;
    font-size: large;
    box-shadow: 2px 2px 0 0 black;
    border-radius: 7px;
    padding-bottom: 30px;
    max-width: 10px 15px;
}

#image{
    max-width: 380px;
    max-height: 380px;
    margin-left: 450px;
}