@charset "UTF-8";

.menu{
    display: block;
    margin:auto;
    text-align: center;
}
h1{
    text-align: center;
    margin: auto;
}
.syokai{
    text-align: center;
    line-height: 15px;
}

.syokai{
    font-size: 130%;
    margin-top: 10px;
}
h2{
    text-align: center;
    margin: auto;
}

#button{
    height: 30px;
    background-color: white;
    border:1px solid black;
    padding: 10px 40px;
    margin: 10px auto;
    transition: all 0.3s;
    font-size: large;
    box-shadow: 2px 2px 0 0 black;
    border-radius: 7px;
    padding-bottom: 30px;
    max-width: 10px 15px;
}

#image{
    max-width: 380px;
    max-height: 380px;
    margin-left: 450px;
}
.bgcolor{
    background-color: rgb(103, 103, 103);
}

* {
    box-sizing: border-box;
 }
 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
 }
 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
 }
 h4 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 p {	
    text-decoration: none;
    color: black;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }