<style type="text/css">
h1 {
	font-size: 18px;
	font-weight: bold;
	color: #993300;
	background-color: #FF9933;
	border-style: solid;
	width: 300px;
	padding: 5px;
	border-left-width: 10px;
	border-color: #993300;
}

.name{
	width: 300px
}
</style>